@media screen and (min-width: 1000px) {
	.square {
		width: 16rem !important;
		height: 16rem !important;
		padding: 2rem;
	}
	.sidebar {

	}
	.photo {
		width: 40.2rem;
		height: auto;
	}
}
@media screen and (max-width: 1000px) {
	.square {
		width: 100% !important;
		padding: 2rem;
	}
	.sidebar {
		width: 100%;
	}
	.photo {
		width: 20rem;
		height: auto;
	}
}



body {
	background-color: #1b4552;
	background-color: #476f95;
	background-color: #194a7a;
	background-color: #f1dafb;
	background-color: lightgray;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	justify-content: center;
}
img {
	height: 60rem;
}
span {
	justify-content: center;
	margin: auto;
}
.italics {
	font-style: italic;
}
.square {
	display: flex;
	font-size: 1.4rem;
	color: white;
	text-align: center;
	flex-wrap: wrap;
	font-family: 'Merriweather', serif;
}

.contact {
	border: 1px solid black;
    background-color: #cdcdcd;
    color: black;
	color: #059ca2;
	color: #895eb2;
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

.green {
	background-color: #059ca2;
}

.pink {
	background-color: #e1667e;
}
.purple {
	background-color: #895eb2;
}
.orange {
	background-color: #db8e33;
}
.darkpurple {
	background-color: #57229b;
}
.yellow {
	background-color: #e1c036;
}
